name: Azure MLOps CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-azureml-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install azure-ai-ml mlflow

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Run Azure ML Pipeline
      run: |
        python run_pipeline.py
